@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1, h2, a, p, .dtl .copyright {
  font-family: "Abel", sans-serif;
}

.imageForm {
  width: 100%;
  opacity: 70%;
}

nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  width: 100%;
  height: 55px;
  background-color: #f8ddda;
  justify-content: space-between;
}

.dtl {
  padding: 20px;
  font-family: "Abel", sans-serif;
  font-size: larger;
}

.navBar {
  display: flex;
  padding: 20px;
}

a {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  text-decoration: none;
  color: black;
}

.links {
  list-style-type: none;
  text-decoration: none;
}

ul {
  display: flex;
  list-style-type: none;
}

ul li {
  text-decoration: none;
}

.menuHorizontal > li:hover .menuVertical {
  display: block;
}

.menuHorizontal > li:hover {
  background-color: #e09f98;
}

.menuVertical > li:hover {
  background-color: #e09f98;
}

.menuVertical {
  position: absolute;
  display: none;
}

.navLinks--active {
  font-weight: bold;
}

.footer {
  margin: 0;
  display: flex;
  margin: 0px;
  width: 100%;
  height: 100px;
  flex-direction: row;
  background-color: #f8ddda;
  justify-content: space-between;
}
.footer .redes {
  display: flex;
  padding: 30px;
}
.footer .redes .logos {
  display: flex;
  max-width: 100%;
  min-width: -moz-fit-content;
  min-width: fit-content;
  flex-wrap: wrap;
  transition: all 10s;
}
.footer .redes .logos:hover {
  height: 45px;
  padding: 5px;
}
.footer .copyright {
  padding: 30px;
  color: rgb(0, 0, 0);
  opacity: 65%;
  font-family: "Abel", sans-serif;
}

.contenedor {
  display: grid;
  grid-template-columns: 400px 200px 200px;
  grid-template-rows: repeat(4, 100px);
  justify-self: center;
  align-self: center;
  align-items: flex-start;
  gap: 1rem;
  font-family: "Abel", sans-serif;
}

.divCarrito {
  display: flex;
  justify-content: center;
  margin: 2rem;
  margin-right: 5.5rem;
}

.numero {
  font-size: 16px;
  text-align: justify;
}

.titulo {
  font-size: 3rem;
  opacity: 70%;
}

.imgWilson {
  width: 88%;
}

.imgCarrito {
  width: 40px;
  height: 40px;
}

.uno {
  grid-column: 1/2;
  grid-row: 1/4;
}

.dos {
  grid-column: 2/4;
  grid-row: 1/2;
  justify-content: flex-start;
}

.tres {
  grid-column: 1/2;
  grid-row: 4/5;
}

.cuatro {
  display: flex;
  grid-column: 2/4;
  grid-row: 2/5;
  align-items: center;
}

.descripcion {
  margin: 3rem;
  text-align: justify;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  height: auto;
  min-height: 700px;
  background-color: #fbe9e7;
  justify-content: center;
  align-items: center;
}

.mainIndex {
  background: url(../images/backgrounHome.jpg);
  background-size: cover;
  background-attachment: scroll;
}

.mainAbout {
  background: url(../images/backgroundAboutus.png);
  background-size: cover;
  background-attachment: scroll;
}

.products {
  background: url(../images/backgroundProducts.jpg);
  background-size: cover;
  background-attachment: scroll;
}

.backgroundBabolat {
  background: url(../images/backgroundTecnifibre.png);
  background-size: cover;
  background-attachment: scroll;
}

.backgroundHead {
  background: url(../images/backgroundProducts.jpg);
  background-size: cover;
  background-attachment: scroll;
}

.backgroundTecnifibre {
  background: url(../images/backgroundTecnifibre.png);
  background-size: cover;
  background-attachment: scroll;
}

.backgroundWilson {
  background: url(../images/backgroundProducts.jpg);
  background-size: cover;
  background-attachment: scroll;
}

h1 {
  color: rgb(0, 0, 0);
  opacity: 70%;
}

h2 {
  color: rgb(0, 0, 0);
  opacity: 65%;
}

.brands {
  height: 40px;
  width: 40px;
}

.mainAbout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.aboutus {
  margin-top: 1.3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedorContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4.5rem;
  padding-bottom: 3rem;
}

.contacto {
  display: flex;
  align-self: center;
}

.parrafoAboutus {
  padding-bottom: 15%;
}

.parrafoIntroduccion {
  text-align: justify;
  margin: 4rem;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.products .tituloProductos {
  display: flex;
  margin-top: 1.3rem;
  margin-bottom: 3rem;
  justify-content: center;
}

.marcas {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
}
.marcas .contenedorProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 891px) {
  .marcas {
    display: grid;
    gap: 4rem;
  }
  .contenedor {
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: repeat(4, 250px);
    justify-self: center;
    align-self: center;
    align-items: flex-start;
    gap: 1rem;
    font-family: "Abel", sans-serif;
  }
  .uno {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .dos {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .cuatro {
    grid-column: 1/2;
    grid-row: 4/5;
    visibility: collapse;
  }
  .tres {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media screen and (max-width: 720px) {
  .footer {
    margin: 0;
    display: grid;
    margin: 0px;
    width: 100%;
    height: 100%;
    flex-direction: row;
    background-color: #f8ddda;
    justify-items: center;
    justify-content: center;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #f8ddda;
    justify-content: center;
  }
  .menuVertical {
    visibility: hidden;
  }
}
@media screen and (max-width: 527px) {
  .menuHorizontal {
    display: grid;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 472px) {
  .descripcion {
    visibility: collapse;
    display: none;
  }
  .brands {
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  .marcas {
    display: grid;
    gap: 8rem;
  }
  .tituloProductos {
    margin-top: 5rem;
  }
}/*# sourceMappingURL=sass.css.map */