@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, a, p, .dtl .copyright {
  font-family: "Abel", sans-serif;
}

.imageForm {
  width: 100%;
  opacity: 70%;
}

.formContact {
  width: 50%;
  height: auto;
  background-color: #f8ddda;
  padding: 4rem;
  margin-top: 3rem;
  border-radius: 4px;
  box-shadow: 7px 13px 37px #e0aea9;
}
.formContact .controls {
  width: 100%;
  background-color: #fccfcb;
  padding: 0.7rem;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  border: 1px #e0aea9;
}
.formContact p {
  height: auto;
  text-align: justify;
}
.formContact .button {
  width: 100%;
  padding: 12px;
  border: none;
  margin: 16px 0px;
  font-size: 18px;
}

.containerGenerals .contProductGenerals {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}
.containerGenerals .contProductGenerals .productWilsonBlade {
  text-align: center;
  padding: 3rem 2rem;
  background: #e0aea9;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
  outline: 0.2rem solid #f8ddda;
  outline-offset: -1.5rem;
  border-radius: 4px;
  box-shadow: 7px 13px 37px #e0aea9;
  cursor: pointer;
}
.containerGenerals .contProductGenerals .productWilsonBlade h3 {
  padding: 0.5rem 0;
  font-size: 1rem;
}
.containerGenerals .contProductGenerals .productWilsonBlade .price {
  font-family: "Abel", sans-serif;
}
.containerGenerals .contProductGenerals .productWilsonBlade .imagesWilsonB {
  width: auto;
  height: 13rem;
}
.containerGenerals .contProductGenerals .productWilsonBlade .imagesWilsonB:hover {
  transform: scale(0.9);
  transition: all 1.5s;
}
.containerGenerals .contProductGenerals .productWilsonBlade:hover {
  outline: 0.2rem solid #e0aea9;
  outline-offset: 0;
  transition: all 1.5s;
}

.new {
  background-color: rgb(0, 0, 0);
  color: #fccfcb;
  text-align: center;
}

.newReleases {
  background-color: #f8ddda;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  overflow: hidden;
  gap: 0;
}

.imageIndex {
  width: 100%;
  height: 22rem;
}

.contenedorContacto {
  background-color: #fcedeb;
}

nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  width: 100%;
  height: 55px;
  background-color: #f8ddda;
  justify-content: space-between;
}

.dtl {
  padding: 20px;
  font-family: "Abel", sans-serif;
  font-size: larger;
}

.abrirMenu {
  display: none;
}

.cerrarMenu {
  display: none;
}

.navBar {
  display: flex;
  padding: 20px;
}

a {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  text-decoration: none;
  color: black;
}

.links {
  list-style-type: none;
  text-decoration: none;
}

ul {
  display: flex;
  list-style-type: none;
}

ul li {
  text-decoration: none;
}

.menuHorizontal > li:hover .menuVertical {
  display: block;
}

.menuHorizontal > li:hover {
  background-color: #e09f98;
  transition: all, 0.7s;
}

.menuVertical > li:hover {
  background-color: #e09f98;
  transition: all, 0.5s;
}

.menuVertical {
  position: absolute;
  display: none;
}

.navLinks--active {
  font-weight: bold;
}

.footer {
  margin: 0;
  display: flex;
  margin: 0px;
  width: 100%;
  height: 100px;
  flex-direction: row;
  background-color: #f8ddda;
  justify-content: space-between;
}
.footer .redes {
  display: flex;
  padding: 30px;
}
.footer .redes .logos {
  display: flex;
  max-width: 100%;
  min-width: -moz-fit-content;
  min-width: fit-content;
  flex-wrap: wrap;
  transition: all;
}
.footer .redes .logos:hover {
  height: 45px;
  padding: 0px;
}
.footer .copyright {
  flex-direction: row;
  width: 100%;
  padding: 30px;
  color: rgb(0, 0, 0);
  opacity: 65%;
  font-family: "Abel", sans-serif;
  text-align: right;
  font-size: 13px;
}
.footer .footerEnd {
  display: flex;
  justify-content: end;
}

.footerBrands {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  background-color: #f8ddda;
  padding-top: 6rem;
}
.footerBrands img {
  opacity: 40%;
}
.footerBrands img:hover {
  transition: all, 0.7s;
  opacity: 100%;
}

.contenedor {
  display: grid;
  grid-template-columns: 400px 200px 200px;
  grid-template-rows: repeat(4, 100px);
  justify-self: center;
  align-self: center;
  align-items: flex-start;
  gap: 1rem;
  font-family: "Abel", sans-serif;
}

.divCarrito {
  display: flex;
  justify-content: center;
  margin: 2rem;
  margin-right: 5.5rem;
}

.numero {
  font-size: 16px;
  text-align: justify;
}

.titulo {
  font-size: 3rem;
  opacity: 70%;
}

.imgWilson {
  width: 88%;
}

.imgCarrito {
  width: 40px;
  height: 40px;
}

.uno {
  grid-column: 1/2;
  grid-row: 1/4;
}

.dos {
  grid-column: 2/4;
  grid-row: 1/2;
  justify-content: flex-start;
}

.tres {
  grid-column: 1/2;
  grid-row: 4/5;
}

.cuatro {
  display: flex;
  grid-column: 2/4;
  grid-row: 2/5;
  align-items: center;
}

.descripcion {
  margin: 3rem;
  text-align: justify;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  height: auto;
  min-height: 700px;
  background-color: #fbe9e7;
  justify-content: center;
  align-items: center;
}

.mainIndex {
  background: url(../images/backgrounHome.jpg);
  background-size: cover;
  background-attachment: scroll;
}

.mainAbout {
  background: url(../images/backgroundAboutus.png);
  background-size: cover;
  background-attachment: scroll;
  border-radius: 10px;
}

.products {
  background: url(../images/backgroundProducts.jpg);
  background-size: cover;
  background-attachment: scroll;
}

.backgroundBabolat {
  background: url(../images/backgroundTecnifibre.png);
  background-size: cover;
  background-attachment: scroll;
}

.backgroundHead {
  background: url(../images/backgroundProducts.jpg);
  background-size: cover;
  background-attachment: scroll;
}

.backgroundTecnifibre {
  background: url(../images/backgroundTecnifibre.png);
  background-size: cover;
  background-attachment: scroll;
}

.backgroundWilson {
  background: url(../images/backgroundProducts.jpg);
  background-size: cover;
  background-attachment: scroll;
}

h1 {
  color: rgb(0, 0, 0);
  opacity: 70%;
}

h2 {
  color: rgb(0, 0, 0);
  opacity: 65%;
}

.brands {
  height: 40px;
  width: 40px;
}

.mainAbout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.aboutus {
  margin-top: 1.3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedorContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4.5rem;
  padding-bottom: 3rem;
  align-items: center;
}

.contacto {
  display: flex;
  align-self: center;
}

.parrafoAboutus {
  padding-bottom: 15%;
}

.parrafoIntroduccion {
  text-align: justify;
  margin: 4rem;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.products .tituloProductos {
  display: flex;
  margin-top: 1.3rem;
  margin-bottom: 3rem;
  justify-content: center;
}

.marcas {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
}
.marcas .contenedorProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 891px) {
  .marcas {
    display: grid;
    gap: 4rem;
  }
  .contenedor {
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: repeat(4, 250px);
    justify-self: center;
    align-self: center;
    align-items: flex-start;
    gap: 1rem;
    font-family: "Abel", sans-serif;
  }
  .uno {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .dos {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .cuatro {
    grid-column: 1/2;
    grid-row: 4/5;
    visibility: collapse;
  }
  .tres {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media screen and (max-width: 720px) {
  .footer {
    margin: 0;
    display: grid;
    margin: 0px;
    width: 100%;
    height: 100%;
    flex-direction: row;
    background-color: #f8ddda;
    justify-items: center;
    justify-content: center;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #f8ddda;
    justify-content: center;
  }
  .menuVertical {
    visibility: hidden;
  }
}
@media screen and (max-width: 527px) {
  .menuHorizontal {
    display: grid;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }
  .footerBrands {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .copyright {
    text-align: center;
  }
}
@media screen and (max-width: 472px) {
  .descripcion {
    visibility: collapse;
    display: none;
  }
  .brands {
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  .marcas {
    display: grid;
    gap: 8rem;
  }
  .tituloProductos {
    margin-top: 5rem;
  }
  .abrirMenu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }
  .cerrarMenu {
    display: block;
  }
  .navBar {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
  }
  .navBar {
    width: -moz-fit-content;
    width: fit-content;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    gap: 1rem;
    top: 0;
    right: 0;
    padding: 3rem;
    background-color: #f8ddda;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
  .visible {
    opacity: 1;
    visibility: visible;
  }
  .formContact {
    width: 100%;
    box-shadow: none;
  }
}/*# sourceMappingURL=sass.css.map */