nav{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    width: 100%;
    height: 55px;
    background-color: #f8ddda;
    justify-content: space-between;    
}

.dtl{
    padding: 20px;
    font-family: 'Abel', sans-serif;
    font-size: larger;
}

.navBar{
    display: flex;
    padding: 20px;
    
}



a{
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    text-decoration: none;
    color: black;
}

.links{
    list-style-type: none;
    text-decoration: none;
}



ul{
    display: flex;
    list-style-type: none;
}

ul li{
    text-decoration: none;
}




.menuHorizontal > li:hover .menuVertical{
    display: block;
}

.menuHorizontal > li:hover{
    background-color: #e09f98;
    transition: all, 0.7s;
}

.menuVertical > li:hover{
    background-color: #e09f98;
    transition: all, 0.5s;
}


.menuVertical {
    position: absolute;
    display: none;
}

.navLinks--active{
    @extend .navLinks !optional;
    font-weight: bold;
}