.products{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 3rem;
    padding-bottom: 3rem;
    .tituloProductos{
        display: flex;
        margin-top: 1.3rem;
        margin-bottom: 3rem;
        justify-content: center;
    }
}



.marcas{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
    .contenedorProducts{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: fit-content;
    } 
}



